{% extends 'print.html.twig' %}

{% macro contact_info(company) %}
    {{ company.name }},
    {{ company.inn }},
    {{ company.kpp }},
    {{ company.zipCode }},
    {{ company.address }}
{% endmacro %}

{% block meta %}
    <meta name="generator" content="LibreOffice 6.0.7.3 (Linux)"/>
{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        @page {
            margin-left: 0.64cm;
            margin-right: 0.64cm;
            margin-top: 0.64cm;
            margin-bottom: 1.45cm
        }

        p {
            margin-top: 0cm;
            margin-bottom: 0cm;
            line-height: 120%
        }

        td p {
            margin-bottom: 0cm
        }
    </style>
{% endblock %}

{% block body %}
    <table width="100%" cellpadding="4" cellspacing="0">
        <tr valign="top">
            <td width="33%"
                style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
                <p>{{ labelCompany.label }}</p>
            </td>
            <td width="33%"
                style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
                <p>Поручение № {{ order.number }} к Заявке № {{ request.number }}</p>
            </td>
            <td width="33%" style="border: 1px solid #000000; padding: 0.1cm">
                <p>От {{ order.created|date("d.m.Y") }}</p>
            </td>
        </tr>
    </table>
    <p align="center" style="margin-top: 0cm; margin-bottom: 0cm; line-height: 100%">Реквизиты сторон</p>
    <table width="100%" cellpadding="4" cellspacing="0">
        <col width="256*">
        <tr>
            <td width="100%" valign="top" style="border: 1px solid #000000; padding: 0.1cm">
                <p align="left" style="margin-bottom: 0cm">
                    <font color="#000000">
                        <font face="TimesNewRomanPS-BoldMT, serif">
                            <font size="3" style="font-size: 12pt">
                                <span style="letter-spacing: normal">
                                    <span style="text-decoration: none">
                                        <b>Заказчик:</b>
                                    </span>
                                </span>
                            </font>
                        </font>
                    </font>
                    <font color="#000000">
                        <font face="TimesNewRomanPSMT, serif">
                            <font size="2" style="font-size: 10pt">
                                <span style="letter-spacing: normal">
                                    <span style="text-decoration: none">
                                        <span style="font-weight: normal">
                                            {{ _self.contact_info(order.customer) }}
                                        </span>
                                    </span>
                                </span>
                            </font>
                        </font>
                    </font>
                </p>
                <p align="left" style="margin-bottom: 0cm">
                    <font color="#000000">
                        <font face="TimesNewRomanPS-BoldMT, serif">
                            <font size="2" style="font-size: 11pt">
                                <span style="letter-spacing: normal">
                                    <span style="text-decoration: none">
                                        <b>Агент</b>
                                    </span>
                                </span>
                            </font>
                        </font>
                    </font>
                    <font color="#000000">
                        <font face="TimesNewRomanPS-BoldMT, serif">
                            <font size="2" style="font-size: 10pt">
                                <span style="letter-spacing: normal">
                                    <span style="text-decoration: none">
                                        <b>:</b>
                                    </span>
                                </span>
                            </font>
                        </font>
                    </font>
                    <font color="#000000">
                        <font face="TimesNewRomanPSMT, serif">
                            <font size="2" style="font-size: 10pt">
                                <span style="letter-spacing: normal">
                                    <span style="text-decoration: none">
                                        <span style="font-weight: normal">
			{{ _self.contact_info(order.agent) }}
                                        </span>
                                    </span>
                                </span>
                            </font>
                        </font>
                    </font>
                </p>
                <p align="left">
                    <font color="#000000">
                        <font face="TimesNewRomanPS-BoldMT, serif">
                            <font size="2" style="font-size: 11pt">
                                <span style="letter-spacing: normal">
                                    <span style="text-decoration: none">
                                        <b>Исполнитель</b>
                                    </span>
                                </span>
                            </font>
                        </font>
                    </font>
                    <font color="#000000">
                        <font face="TimesNewRomanPS-BoldMT, serif">
                            <font size="2" style="font-size: 10pt">
                                <span style="letter-spacing: normal">
                                    <span style="text-decoration: none">
                                        <b>:</b>
                                    </span>
                                </span>
                            </font>
                        </font>
                    </font>
                    <font color="#000000">
                        <font face="TimesNewRomanPSMT, serif">
                            <font size="2" style="font-size: 10pt">
                                <span style="letter-spacing: normal">
                                    <span style="text-decoration: none"><span style="font-weight: normal">
			{{ _self.contact_info(order.executor) }}
                                        </span>
                                    </span>
                                </span>
                            </font>
                        </font>
                    </font>
                </p>
            </td>
        </tr>
    </table>

{% endblock %}
